* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 25px 100px 25px 50px;
}

section {
    display: flex;
    justify-content: center;
}

.logo {
    max-width: 35%;
}

/* footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: black;
    padding-bottom: 10px;
} */

.nav {
    color: white;
    font-size: x-large;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav li {
    border-right: 2px solid white;
    float: left;
    padding: 0 15px;
}

.nav li:last-child {
    border-right: 0;
} 

.welcome {
    background-color: white;
    border: solid rgb(197, 197, 197);
    padding: 10px 20px 10px 20px;
    margin: 20px;
    border-radius: 15px;
}

.picker {
    position: relative;
    background-color: rgb(255, 255, 255, .75);
    border: solid rgb(197, 197, 197);
    padding: 10px 20px 10px 20px;
    margin: 20px;
    border-radius: 15px;
    width: 400px;
}


.slider{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 2px;
    background: black;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover{
    opacity: 1;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: rgb(0, 0, 0);
    border-radius: 25px;
    cursor: pointer;
}

.slider-titles{
    display: flex;
    justify-content: space-between;
    font-size: 17px;
}

#x{
    outline: 0;
    border: 0px solid #fff;
    background-color: #fff;
    outline: none;
    font-size: 25px;
}
